---
---

@import "{{ site.theme }}";

/* Add your css here */

a:hover, a:focus {
  font-weight: normal;
}

.highlighter-rouge .highlight * {
  color: #333!important;
  background-color: inherit!important;
}

.avatar {
  border-radius: 25%;
}
